# Bootstrap
app/bootstrap*

# Symfony directories
cache/*
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

web/js/*
web/css/*
web/assetic/*
web/img/*

.htaccess
.idea/
/src/Mf/ManagerBundle/Entity/*php~
