<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% stylesheets filter='less,cssrewrite,?yui_css'
           '@MopaBootstrapBundle/Resources/public/less/mopabootstrapbundle.less'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"
           media="screen" />
        {% endstylesheets %}
        {% endblock %}
    </head>
    <body ng-app="manager">
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        {% endblock %}
    </body>
</html>
