{% extends '::frontend.html.twig' %}

{% block content %}

<div class="span9" ng-controller="TeamListCtrl">

	<h1>Haz tu Equipo</h1>

	<input name="search" value="Filtro" ng-model="search" />

	<table class="table">

		<tr>
            <th>
                Jugador
            </th>
            <th>
                Equipo
            </th>
            <th>
                Demarcación
            </th>
		</tr>
		<tr ng-repeat="player in players | orderBy:team_name | filter:search">
            <td>
                [[ player.player_name ]]
            </td>
            <td>
                [[ player.team_name ]]
            </td>
            <td>
                [[ player.demarcation_name ]]
            </td>
		</tr>

	</table>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

{% javascripts filter='?yui_js' 
   '@MfManagerBundle/Resources/public/js/angular/lib/angular.min.js'
   '@MfManagerBundle/Resources/public/js/angular/controller/controller.js'
%}
<script src="{{ asset_url }}"></script>

<script type="text/javascript">
    manager.controller('TeamListCtrl', function($scope, $http) {
        $http.get('http://manager.local/app_dev.php/api/leagues/1/seasson/player.json').success(function(data) {
            $scope.players = data;
        });
    });
</script>
{% endjavascripts %}
{% endblock %}