{% extends '::frontend.html.twig' %}

{% block content %}

<div class="span9" ng-controller="TeamListCtrl">

	<h1>Haz tu Equipo</h1>

	<input name="search" value="Filtro" ng-model="search" />

	<table class="table">

		<tr>
            <th>

            </th>
            <th>
                Jugador
            </th>
            <th>
                Equipo
            </th>
            <th>
                Demarcaciones
            </th>
		</tr>
		<tr ng-repeat="player in players | orderBy:team_name | filter:search">
            <td>
                <input type="checkbox" id="[[ player.id ]]" ng-click="tooglePlayer($event, player.id)" />
            </td>
            <td>
                [[ player.name ]]
            </td>
            <td>
                [[ player.football_team.name ]]
            </td>
            <td>
                <span ng-repeat="demarcation in player.demarcations">[[ demarcation.name ]]<span ng-show="!$last">, </span> </span>
            </td>
		</tr>

	</table>

</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

{% javascripts filter='?yui_js'
   '@MfManagerBundle/Resources/public/js/angular/lib/angular.min.js'
   '@MfManagerBundle/Resources/public/js/angular/controller/controller.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
    manager.controller('TeamListCtrl', function($scope, $http) {
        $http.get('http://manager.local/app_dev.php/api/players/1.json').success(function(data) {
            $scope.players = data;
        });

        $scope.tooglePlayer = function($event, player_id){
            console.log(player_id);
            var checkbox = $event.target;
            var action = (checkbox.checked ? 'add' : 'remove');
            console.log(action);
        };
    });
</script>
{% endblock %}
